<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header(title='createMovie')">
</head>
<body>
  
  
	<div th:replace="fragments/main::displayPost"></div>
	
  	<h1 th:text="movieQueries.createMovie"></h1><br /><br />
  	
  	<form action="#" th:action="@{createMovie}" th:object="${movie}" method="post">
    	
   	<table>
    <tr>
        <td><span th:text="#{movie.title} + ': '"></span><input type="text" th:field="*{title}" /><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:class="errors"></span></td>
    </tr>
    <tr>
        <td><span th:text="#{movie.releaseDate} + ': '"></span><input type="date" th:field="*{releaseDate}" /><span th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}" th:class="errors"></span></td>
    </tr>
    <tr>
        <td><span th:text="#{movie.directorId} + ': '"></span><input type="text" th:field="*{directorId}" /><span th:if="${#fields.hasErrors('directorId')}" th:errors="*{directorId}" th:class="errors"></span></td>
    </tr>
    <tr>
        <td><span th:text="#{movie.runningTime} + ': '"></span><input type="text" th:field="*{runningTime}" /><span th:if="${#fields.hasErrors('runningTime')}" th:errors="*{runningTime}" th:class="errors"></span></td>
    </tr>
   
   
    <tr>
        <td colspan="2">
          <input type="submit" th:value="#{form.valid}" /> <input type="reset" th:value="#{form.reset}" />
        </td>
    </tr>
  	</table>  
  	</form>

</body>
</html>








