<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header(title='deleteMovie')">
</head>
<body>


	<div th:replace="fragments/main::displayPost"></div>
	
	<h1 th:text="#{movieQueries.deleteMovie}"></h1><br /><br />
	
    <form action="#" th:action="@{deleteMovie}" th:object="${movieId}" method="post">
    	<p><span th:text="#{movie.id} + ': '"></span><input type="text" th:field="*{id}" /><span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:class="errors"></span></p>
        <p><input type="submit" th:value="#{form.valid}" /> <input type="reset" th:value="#{form.reset}" /></p>
    </form>
</body>
</html>
   










