<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header(title='getMovies')">
</head>
<body>
	
	
	<div th:replace="fragments/main::displayPost"></div>
	
	<h1 th:text="#{movieQueries.getMovie}"></h1><br /><br />
	
    <form action="#" th:action="@{getMovie}" th:object="${getMovie}" method="post">
    	<p><span th:text="#{movie.title}"></span><input type="text" th:field="*{title}" /><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="errors"></span></p>
        <p><input type="submit" th:value="#{form.valid}" /> <input type="reset" th:value="#{form.reset}" /></p>
    </form>
</body>
</html>
   










