<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header(title='Update Actor Form')">
</head>
<body>

	<div th:replace="fragments/main::displayPost"></div>
	
	<h1 th:text="#{actorQueries.updateActor}"></h1><br /><br />

    <form action="#" th:action="@{updateActor1}" th:object="${getActor}" method="post">
    	<p><span th:text="#{personal.id} + ': '"></span><input type="text" th:field="*{id}" /><span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:class="errors"></span></p>
        <p><input type="submit" th:value="#{form.valid}" /> <input type="reset" th:value="#{form.reset}" /></p>
    </form>
</body>
</html>
   