<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header(title='actorDirectors')">
</head>
<body>

   	<div th:replace="fragments/main::displayPost"></div>

	<h1 th:text="#{advancedResult.actorDirectors}"></h1><br />
	
	<h2 th:text="${firstName} + ' ' + ${lastName}"></h2><br />
	
	<br/><br/>

	<div th:each="director : ${directors}">
		<p th:text="${director.firstName} + ' ' + ${director.lastName}"></p>
                              
    </div>
	

</body>
</html>