<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header(title='directorActors')">
</head>
<body>

   	<div th:replace="fragments/main::displayPost"></div>
	
	<h1 th:text="#{advancedQueries.directorActors}"></h1><br /><br />
	
	<form action="#" th:action="@{directorActors}" th:object="${directorName}" method="post">
    	    
    <table>
    <tr>
    <td><span th:text="#{personal.firstName} + ': '"></span><input type="text" th:field="*{firstName}" /><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="errors"></span></td>
    </tr>
	<tr>
    <td><span th:text="#{personal.lastName} + ': '"></span><input type="text" th:field="*{lastName}" /><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="errors"></span></td>
      
    </tr>
    <tr>
        <td colspan="2">
           <input type="submit" th:value="#{form.valid}" /> <input type="reset" th:value="#{form.reset}" />
        </td>
    </tr>
    </table>
	</form>

 		

</body>
</html>